$main-color: #353535;
$main-color-darken: #2A2A2A;

$main-second-color: #f1e6d0;
$main-second-color-text: #4e4531;
$main-second-color-darken: #CEBD9D;
$main-second-color-darkest: #AE996E;

$white-color: #fff;
